body {
  display: grid;
  grid-template-columns: auto auto auto;	
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 10%;
}

#picture {
	grid-column: 1;
	grid-row: 1;
	margin-left: 10%;
	margin-top: 10%;
}

#headline {
	grid-column: 2;
	grid-row: 1;
	text-align: center;
	margin-top: 10%;
}

#date {
	grid-column: 3;
	grid-row: 1;
	margin-top: 10%;
}

#modusButtons {
	grid-column: 2;
	grid-row: 2;
	text-align: center;
}

#settingsAutomatik {
	grid-column: 2;
	grid-row: 3;
	text-align: center;
}

#settingsManuel {
	grid-column: 2;
	grid-row: 3;
	text-align: center;
}

#modusWinter {
	grid-column: 2;
	grid-row: 3;
	text-align: center;
}

#areas {
	grid-column: 3;
	grid-row: 2 / 5;
}

#eAdress {
	grid-column: 1 / 3;
	grid-row: 4;
	margin-left: 5%;
}


#table {
	grid-column: 1 / -1;
	grid-row: 5;
	margin-left: 5%;
}

#linkTemp {
	grid-column: 2;
	grid-row: 6;
	text-align: center;
}

#buttonAutomatik, #buttonManuel, #buttonWinter {
	border: none;
	padding: 1.5vw 1.5vw 1.5vw 1.5vw;
	background-color: #FA5882;
	font-size: 2vw;
	border-radius: 50%;
	width: 30%;
	margin-right: 1vw;
}

#buttonAutomatik.selected, #buttonManuel.selected, #buttonWinter.selected {
  background-color: red;
}

#auto1, #auto2{
	float: left;
}

#listAuto1, #listAuto2 {
  list-style-type: none;
}

#buttonSaveAutomatik{
	margin-top: 10%;
}

#settingsManuel {
	text-align: center;
}

#listManuel {
	list-style-type: none;
}

#modusWinter {
	font-size: 2vw;
	font-family: arial;
	font-weight: bold;
}

#area1, #area2, #area3 {
	background-color: red;
	height: 5vw;
	width: 10vw;
	font-size: 2vw;
}

#buttonAutomatik.selected, #buttonManuel.selected, #buttonWinter.selected {
  background-color: red;
  color: white;
}

